@model LegacyView.Models.DVD

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DVD</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DVDName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DVDName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DVDGenre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DVDGenre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DVDDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DVDDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DVDPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DVDPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DVDCustomerReview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DVDCustomerReview)
        </dd>
        <!--added for new field-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DVDProductionCompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DVDProductionCompany)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DVDId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
