@model IEnumerable<LegacyView.Models.DVD>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--Links to DVD Create Page-->
<p>
    <a asp-action="Create">Create New</a>
</p>

<!--Adding form for search-->
<form asp-controller="DVDs" asp-action="Index" method="get"> <!--get attribute allows for sharing and adding bookmarks-->
    <p>
        DVD Name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<!--Table to display DVDs-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDCustomerReview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCustomerReview)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DVDId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DVDId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DVDId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
