@model LegacyView.Models.DVDGenreViewModel 

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!--Links to DVD Create Page-->
<p>
    <a asp-action="Create">Create New</a>
</p>

<!--Adding form for search-->
<form asp-controller="DVDs" asp-action="Index" method="get"> <!--get attribute allows for sharing and adding bookmarks-->
    <p>
        <!--Get the genre list-->
        <select asp-for="DvdGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        <!--input for DVD Name search-->
        DVD Name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<!--Table to display DVDs-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDs[0].DVDName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDs[0].DVDGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDs[0].DVDDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDs[0].DVDPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDs[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDs[0].DVDCustomerReview)
            </th>
            <!--new field added-->
            <th>
                @Html.DisplayNameFor(model => model.DVDs[0].DVDProductionCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DVDs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCustomerReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDProductionCompany)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DVDId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DVDId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DVDId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
